*{
	margin: 0px;
	padding: 0px;
}

/*base color #1FA67A*/

/*Header index*/
#general-container {
	position: absolute;
	width: 100%;
	height:100%;
	/*background-color: pink;*/
}

#header-container {
	width: 100%;
	height: 18%;
	background-color: #1FA67A;
}

#two-parts {
	width: 100%;
	height: 85%;
	/*background-color: gray;*/
}

#header-left {
	float: left;
	width: 50%;
	height: 100%;
	/*background-color: red;*/
}

#header-right {
	float: right;
	width: 50%;
	height: 100%;
	/*background-color: orange;*/
}

#header-icon {
	position: absolute;
	width: 9%;
	margin-top: 1%;
	margin-left: 40%; 
	text-align: right;
}

.header-format-icon {
	margin-left: 1%;
	color: white;
}

#header-icon-one:hover {
	color: #3B5998;
}

#header-icon-two:hover {
	color: #D34836;
}

#header-icon-three:hover {
	color: #0084B4;
}

#header-menu {
	margin-top: 11%;
	margin-left: 20%;
	width: 80%;
	height: 33%;
	line-height: 2;
	/*background-color: blue;*/
}

#header-menu ul {
 	list-style: none;
 	margin: auto;
 	width: 100%;
 	height: 100%;
	/*background-color: pink;*/
}

#header-menu ul li {
	display: inline-block;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 24%;
	height: 100%;
	text-align: center;
}

#header-menu ul li:hover {
	border-radius: 0.5em 0.5em 0 0;
	/*background-color: #1FA67A;*/
	background-color: #CCCCCC;
}

.menu-selected-option {
	border-radius: 0.5em 0.5em 0 0;
	background-color: #CCCCCC;	
}

#header-menu ul li a {
	color: white;
}

#header-line {
	position: relative;
	width: 100%;
	height: 16%;
	background-color:  #CCCCCC;
	z-index: 99999;
}

#header-image-cow-head {
	position: absolute;
	margin-top: -8%;
	margin-left: 43%;
	height: 10px;
	z-index: 99999;
}

#image-cow-head {
	border: 0;
	width: 40%;
	
}

#content {
	width: auto;
	height: auto;
}

/*Body index*/
#body-container {
	width: 100%;
	height: 29em;
	/*background-color: red;*/
}

#body-carousel-container {
	width: 100%;
	/*background-color: green;*/
}

#body-images-container {
	width: 100%;
	height: 45%;
	padding: 2% 0 2% 0;
	/*background-color: orange;*/
}

.body-images-list {
	width: 100%;
	height: 92%;
	/*background-color: gray;*/
}

.body-images-col {
	display: inline-block;
	width: 24%;
	height: 100%;
	border: 1px solid #CCCCCC;
	/*background-color: brown;*/
}

.left-space {
	margin-left: 7%;
}

.body-images-col p {
	position: absolute;
	margin-top: -10%;
	margin-left: 2%;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	color: transparent;
	z-index: 99999;
}

.body-images-col p:hover {
	color: black;
}

.body-images {
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

/*Footer index*/
#footer-container {
	width: 100%;
	height: 5%;
	font-size: medium;
	font-weight: bold;
	color: #1FA67A;
	text-align: center;
	line-height: 2;
	background-color: #CCCCCC;
}

/*About*/

#body-about-container {
	width: 100%;
	height: 50em;
	/*background-color: transparent;*/
}

#about-image-container {
	width: 100%;
	height: 33%;
	/*background-color: yellow;*/
}

#about-image {
	width: 100%;
	height: 100%;
}

#about-content {
	width: 100%;
	height: 30%;
	/*background-color: pink;*/
}

#about-content-left {
	float: left;
	width: 50%;
	height: 100%;
	/*background-color: green;*/
}

#about-content-right {
	float: right;
	width: 50%;
	height: 100%;
	/*background-color: brown;*/
}

#about-values {
	width: 100%;
	height: 37%;
	/*background-color: orange;*/
}

/*.font-VM {
	margin-top: 4%;
	margin-left: 6%;
	width: 90%;
	font-family: myriad !important;
	font-weight: bold;
	color: #1FA67A;
	border-bottom: 1px solid #1FA67A;
}*/

.about-font-icon {
	float: left;
	margin-top: 4%;
	margin-left: 6%;
	width: 8%;
	color: #1FA67A;
	/*background-color: pink;*/
}

.about-font-icon-values {
	float: left;
	margin-left: 6%;
	width: 4%;
	color: #1FA67A;
	/* background-color: pink; */
}

.about-font-title {
	float: right;
	margin-right: 6%;
	margin-top: 4%;
	width: 80%;
	font-weight: bold;
	font-size: x-large;
	color: #1FA67A;
	/* border-bottom: 1px solid green; */
	/*background-color: orange;*/
}

.about-line p{
	clear: both;
	width: 90%;
	margin-top: 2%;
	margin-left: 6%;
	text-align: justify;
	font-size: large;
	border-top: 1px solid #1FA67A;
	color: gray;
}

.about-font-values-title {
	margin-left: 5%;
	width: 90%;
	height: 14%;
	font-size: x-large;
	font-weight: bold;
	color: #1FA67A;
	border-bottom: 1px solid #1FA67A;
	text-align: justify;
	/* background-color: pink;*/
}

#about-values-list {
	width: 100%;
	height: 86%;
	padding: 1% 0 0% 3%;
	/*background-color: blue;*/
}

.about-values-item {
	padding-top: 1%;
	float:left;
	margin-left: 1%;
	width: 18%;
	height: 100%;
	/*background-color: brown;*/
}

.about-values-icon {
	width: 100%;
	height: 40%;
	text-align: center;
	color: #1FA67A;
	/*background-color: red;*/
}

.about-values-content {	
	width: 100%;
	height: 60%;
	font-size: medium;
	text-align: center;
	color: gray;
	/*background-color: white;*/
}

/*Contact*/

#body-contact-container {
	width: 100%;
	height: 38em;
	/*background-color: blue;*/
}

#contact-gmaps-container {
	width: 100%;
	height: 43%;
	/*background-color: yellow;*/
}

#contact-gmaps {
	width: 100%;
	height: 100%;
}

#contact-content-container {
	width: 100%;
	height: 57%;
	/*background-color: orange;*/
}

#contact-content-left {
	float: left;
	width: 60%;
	height: 100%;
	/*background-color:  brown;*/
}

#contact-content-right {
	float: right;	
	padding-left: 4%;
	width: 40%;
	height: 100%;
	padding-top: 3%;
	/*background-color: red;*/
}

#contact-font-title {
	padding-top: 1%;
	padding-left: 4%;
	width: 100%;
	height:10%;
	font-size: x-large;
	font-weight: bold;
	color: gray;
	/*background-color: black;*/
}

#contact-form {
	width: 100%;
	height: 90%;
	/*background-color: green;	*/
}

.contact-form-format {
	padding-top: 3%;
}

.contact-description-height {
	height: 50%;
}

.contact-form-button {
	padding-top: 2%;
	padding-left: 15%;
}

.contact-color-button {
	background-color: #1FA67A;
}

#contact-icon-container {
	float: left;
	width: 15%;
	height: 100%;
	/*background-color: pink;*/
}

.contact-icon {
	margin-top: 28%;
	color: #1FA67A;
}

#contact-info-container {
	padding-top: 4%;
	padding-left: 10%;
	float: right;
	width: 85%;
	height: 100%;
	/*background-color: yellow;*/
}

#contact-info-container p {
	margin: 0 0 0 0;
	width: 100%;
	height: 30%;
	color: gray;
	/*background-color: white;*/
}


/*Product*/
#body-product-container {
	width: 100%;
	height: 29em;
	/*background-color: red;*/
}

#product-left-container {
	float: left;
	width: 17%;
	height: 100%;
	/*background-color: gray;*/
}

/*.product-title-menu-background {
	background-color: #1FA67A !important;
}*/

#product-left-container dl {
	list-style: none;
	width: 100%;
	height: 100%;
	border: 1px solid gray;
	background-color: #999999;
}

#product-left-container dt {
	width: 100%;
	height: 8%;
	border-bottom: 1px solid #CCCCCC;
	background-color: gray;
}

#product-left-container dd {
	width: 100%;
	height: 32%;
	/*background-color: red;*/
}

#product-left-container ul {
	height: 100%;
	margin-bottom: 0;
}

#product-left-container li {
	width: 100%;
	height: 25%;
	border-bottom: 1px solid gray;
	background-color: #CCCCCC;
}

.list-element {
	width: 100% !important; 
	height: 100% !important;
	height: 20% !important;
	background-color: transparent; !important;
}

.product-menu-font1 {
	font-size: x-large;
	font-weight: bold;
	text-align: center;
	color: white;
}

.product-menu-font2 {
	margin-left: 7%;
	font-size: large;
	font-weight: bold;
	line-height: 2;
	color: white;
}

.product-menu-font2:hover {
	color: white;
}

.product-menu-font3 {
	margin-left: 7%;
	font-size: large;
	line-height: 2;
	color: white;
}

.product-menu-font3:hover {
	color: white;
}

#product-right-container {
	float: right;
	width: 83%;
	height: 100%;
	/*background-color: orange;*/
}

.shadow {
    position:relative; 
    -webkit-box-shadow:0 0px 18px rgb(153,153,153);
    -moz-box-shadow:0 0px 18px rgb(153,153,153);
    box-shadow:0 0px 18px rgb(153,153,153);
}

.product-menu-seleccionado {
	background-color: #1FA67A !important;
	border: 1px solid #1FA67A !important;
}

.list-element-shadow {
	-webkit-box-shadow:0 0px 18px #1FA67A !important;
    -moz-box-shadow:0 0px 18px #1FA67A !important;
    box-shadow:0 0px 18px #1FA67A !important;
}

#lista-prod {
	margin-left: 7%;
	margin-top: 7%;


}
#lista-prod img {
	
	margin-top: 5%;
}

#lista-prod button {
	
	margin-top: 5%;
	margin-left: 10%;
}

